@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

mat-toolbar { padding: 20px; height: auto;
    @include breakpoint(md) { padding: 20px 40px; }

    .logo { padding: 5px 10px; background-color: white; color: $primary; border-radius: 5px; text-decoration: none; transition: 0.2s;
        &:hover { transform: scale(1.05); transition: 0.3s; }
    }
}