<mat-card>
    <mat-card-header>
        <!-- <div mat-card-avatar></div> -->
        <mat-card-title>#{{pokemon?.id}} - {{pokemon?.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="imgPathMini" style="width:50px" alt="name Image">

    <mat-card-content>
        <h6>#{{pokemon?.id}} - {{pokemon?.name}} Info</h6>

        <div>
            <p>Type(s)</p>
            <mat-chip-list *ngFor="let type of pokemon?.types">                
                <mat-chip color="{{type}}" selected>{{type}}</mat-chip>                
            </mat-chip-list>
        </div>

        <p>{{pokemon$ | async | json}}</p>
    </mat-card-content>

    <div>
        <button mat-button color="primary">Previus</button>
        <button mat-button color="primary">Next</button>
    </div>
</mat-card>
<!-- id: number;
name: string;
weight?: number;
imgPathLg?: string;
imgPathMini?: string;
abilities?: [
    { ability: string }
];
types?: [
    { type: string }
];
stats?: {
    hp: number,
    attack: number,
    defense: number,
    specialAttack: number,
    specialdefense: number,
    speed: number
}; -->