$font-color-medium: rgb(33, 33, 33);
$neutral-color: rgb(255, 255, 255);
$neutral-color-2: rgb(242, 242, 242);
$secondary-color: rgb(97, 97, 97);
$secondary-color-2: rgb(145, 145, 145);

// Types

$fire-color: rgb(253, 125, 36);

$water-color: rgb(69, 146, 196);

$bug-color: rgb(114, 159, 63);

$flying-color: linear-gradient(rgb(61, 199, 239) 50%, rgb(189, 185, 184) 50%);

$grass-color: rgb(155, 204, 80);

$poison-color: rgb(185, 127, 201);

$normal-color: rgb(164, 172, 175);

$electric-color: rgb(238, 213, 53);

$ground-color: linear-gradient(rgb(247, 222, 63) 50%, rgb(171, 152, 66) 50%);

$fairy-color: rgb(253, 185, 233);

$fighting-color: rgb(213, 103, 35);

$psychic-color: rgb(243, 102, 185);

$rock-color: rgb(163, 140, 33);

$steel-color: rgb(158, 183, 184);

$ghost-color: rgb(123, 98, 163);

$ice-color: rgb(81, 196, 231);

$dragon-color: linear-gradient(rgb(83, 164, 207) 50%, rgb(241, 110, 87) 50%);
