$primary: #673ab7;
$accent: #ffd740;
$warn: #f44336;

/* Pokemon's types */
$bug: #A8B820;
$dragon: #7038F8;
$electric:#F8D030;
$fairy:#EE99AC;
$fighting: #C03028;
$fire:#F08030; 
$flying:#A890F0;
$ghost:#705898;
$grass:#78C850;
$ground: #d8b75d;
$ice:#98D8D8;
$normal: #cacaad;
$poison:#A040A0;
$psychic: #F85888;
$rock:#796c36;;
$steel: #afafbb;
$water: #6890F0;