// $bg-prim-color: #dcdde1;
$bg-prim-color: #f1f2f6;
$bg-sec-color: #fff;
$txt-prim-color: #2c3e50;
$red: #ff7979;
$green: #badc58;
$orange: #ffbe76;
$yellow: #f6e58d;
$blue: #7ed6df;
$purple: #686de0;
$pink: #e056fd;
$grey: #777179;
$brown: #9e8143;
$butter: #ffda79;
$light-purple: #c56cf0;
$geranium: #cf6a87;
$mustard: #e77f67;
$pencil-lead: #596275;
$ice: #a5b1c2;
$mat-purple: #8c7ae6;
$skirret-green: #44bd32;
$light-grey: #95afc0;