* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font-medium';
}

// Fonts da aplicacao
@font-face {
  font-family: 'font-medium';
  src: url('../fonts/SignikaNegative-Regular.ttf');
}

@font-face {
  font-family: 'font-bold';
  src: url('../fonts/SignikaNegative-Bold.ttf');
}