.filter {
    background-color: rgb(39, 39, 39);
    width:100%;
    height: 200px;
    text-align: center;
}

.pokedex-value {
    background-color: #363636;
    border: none;
    height: 30px;
    border: 1px solid gray;
    border-radius: 8px;
    color: white;
}

.active-pagination-text {
    color: white;
}

.pokedex-pagination {
    color: white;
    background-color: black
}

.active-pokedex-pagination {
    background-color:black;
}