#pokedex {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
  .pokedex__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;

    li {
      list-style: none;
      flex: 1 0 18%;
    }
  }
  .group-btn__container{
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}
