/* Poppins */
  @font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype'),
        url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

/* Open Sans */
  @font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Medium';
    src: url('../fonts/Open_Sans/OpenSans-Medium.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  /* Arcade */
  @font-face {
    font-family: 'Arcade Regular';
    src: url('../fonts/Arcade/ka1.ttf') format('truetype'),
        url('../fonts/Arcade/ka1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Digital */
  @font-face {
    font-family: 'Digital Regular';
    src: url('../fonts/Digital/digital-7.ttf') format('truetype'),
        url('../fonts/Digital/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }