html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}
input {
  height: 30px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid #efefef;
}
input:focus {
  outline: none !important;
}
select {
  height: 25px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid #efefef;
}
select:focus {
  outline: none !important;
}
button {
  transition: all 0.3s ease;
  cursor: pointer;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app header {
  width: 100%;
  height: 30px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17a9e2;
}
#app header h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 20px;
}
#app section {
  width: 1200px;
  min-height: calc(100vh - 70px);
  margin-top: 20px;
  box-shadow: 0px 2px 5px #ababab;
}
@media (min-width: 1200px) {
  #app section {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  #app section {
    width: 992px;
  }
}
@media (max-width: 992px) {
  #app section {
    width: 767px;
  }
}
@media (max-width: 767px) {
  #app section {
    width: 575px;
  }
}
@media (max-width: 575px) {
  #app section {
    width: calc(100% - 20px);
  }
}
#app section > div {
  width: calc(100% - 40px);
  padding: 20px;
}
@media (max-width: 575px) {
  #app section > div {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
#app section .typeContent {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#app section .typeContent .viewType {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #17a9e2;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}
#app section .typeContent .viewType .checkBtn {
  width: 50%;
  background: none;
  color: #17a9e2;
  font-weight: bold;
  text-transform: uppercase;
  border: none !important;
}
#app section .typeContent .viewType .checkBtn.active {
  background-color: #17a9e2;
  color: #fff;
}
#app section .tableFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0px;
}
#app section .tableFilters .rangeNumbers {
  width: 250px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  border-radius: 3px;
  align-items: center;
  margin-right: 15px;
}
@media (max-width: 575px) {
  #app section .tableFilters .rangeNumbers {
    width: 100%;
    margin-right: 0;
  }
}
#app section .tableFilters .rangeNumbers label {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  width: 100%;
}
#app section .tableFilters .rangeNumbers span {
  font-weight: bold;
  margin-bottom: 10px;
}
#app section .tableFilters .rangeNumbers input {
  width: calc(50% - 25px);
  text-align: center;
  margin-bottom: 10px;
}
#app section .tableFilters .rangeNumbers input:focus {
  border: 1px solid #17a9e2;
}
#app section .tableFilters .rangeNumbers input:first-of-type {
  margin-right: 10px;
}
#app section .tableFilters .rangeNumbers input:last-of-type {
  margin-left: 10px;
}
#app section .tableFilters .btnFilter {
  height: 35px;
  padding: 0 20px;
  background-color: #17a9e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}
#app section .tableFilters .btnFilter:hover {
  transform: scale(1.05);
}
@media (max-width: 575px) {
  #app section .tableFilters .btnFilter {
    width: calc(50% - 5px);
    margin-right: 5px;
  }
}
#app section .tableFilters .btnClean {
  height: 35px;
  padding: 0 20px;
  background-color: #cdcdcd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
#app section .tableFilters .btnClean:hover {
  transform: scale(1.1);
}
@media (max-width: 575px) {
  #app section .tableFilters .btnClean {
    width: calc(50% - 5px);
    margin-left: 5px;
  }
}
#app section .pokeList {
  width: calc(100% - 40px);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
@media (min-width: 1200px) {
  #app section .pokeList {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1200px) {
  #app section .pokeList {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 992px) {
  #app section .pokeList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  #app section .pokeList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  #app section .pokeList {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 20px);
    padding: 10px;
  }
}
#app section .pokeList .pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #17a9e2;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#app section .pokeList .pokemon .type span {
  padding: 3px 5px;
  font-size: 12px;
  border: 1px solid #555;
  border-radius: 50000000000000px;
}
#app section .pokeList .pokemon .type span:not(:last-of-type) {
  margin-right: 4px;
}
#app section .pokeList .pokemon img {
  width: 150px;
}
#app section .pokeList .pokemon h2 {
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
#app section .pokeList .pokemon .pokeId {
  color: #fff;
  background-color: #888;
  margin-right: 5px;
  border-radius: 500000000000000000px;
  padding: 3px 10px;
  font-size: 12px;
  transition: all 0.3s ease;
}
#app section .pokeList .pokemon:hover {
  transform: scale(1.05);
  background-color: #17a9e2;
  box-shadow: 0px 0px 50px #cdcdcd;
}
#app section .pokeList .pokemon:hover h2 {
  color: #fff;
}
#app section .pokeList .pokemon:hover .pokeId {
  color: #000;
  background-color: #fff;
  margin-right: 5px;
  border-radius: 500000000000000000px;
  padding: 3px 10px;
  font-size: 12px;
}
#app section .paginationContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 575px) {
  #app section .paginationContent {
    justify-content: flex-end;
  }
}
#app section .paginationContent .pagination {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  #app section .paginationContent .pagination {
    width: 100%;
  }
}
#app section .paginationContent .pagination button.pag {
  width: 33px;
  height: 30px;
  padding: auto;
  background: none;
  border: 1px solid #17a9e2;
  color: #17a9e2;
  border-radius: 5px;
  font-weight: bold;
}
#app section .paginationContent .pagination button.pag.active {
  color: #fff;
  background-color: #17a9e2;
}
#app section .paginationContent .pagination button.pag.dots {
  border: none;
  color: #555;
  padding: 0;
  width: 15px;
}
#app section .paginationContent .qtdPage {
  width: 50px;
  height: 30px;
}
#app .modalDetails {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#app .modalDetails .modal {
  width: calc(600px - 40px);
  padding: 20px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}
@media (max-width: 575px) {
  #app .modalDetails .modal {
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    padding: 10;
  }
}
#app .modalDetails .modal .modalHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 575px) {
  #app .modalDetails .modal .modalHeader {
    flex-direction: row;
    justify-content: flex-end;
  }
}
#app .modalDetails .modal .modalHeader .modalTitle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#app .modalDetails .modal .modalHeader .modalTitle h2 {
  background-color: #17a9e2;
  padding: 5px 15px;
  border-radius: 500000000000000px;
  color: #fff;
  font-size: 18px;
  margin: 0 10px 0 0;
}
#app .modalDetails .modal .modalHeader .modalTitle h1 {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  color: #17a9e2;
}
#app .modalDetails .modal .modalHeader .modalTitle .types {
  border: 1px solid #555;
  padding: 3px 5px;
  border-radius: 500000000000000px;
  color: #555;
  font-weight: bold;
  font-size: 15px;
  margin: 0 2px;
}
#app .modalDetails .modal .modalHeader .close {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  position: relative;
  transition: all 0.3s ease;
}
#app .modalDetails .modal .modalHeader .close:hover {
  transform: scale(1.05);
}
#app .modalDetails .modal .modalHeader .close::before {
  content: '';
  position: absolute;
  width: 20px;
  background-color: #555;
  height: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
  left: 0;
}
#app .modalDetails .modal .modalHeader .close::after {
  content: '';
  position: absolute;
  width: 20px;
  background-color: #555;
  height: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
  left: 0;
}
#app .modalDetails .modal .modalBody {
  width: 100%;
  padding-top: 15px;
}
#app .modalDetails .modal .modalBody .firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .modalDetails .modal .modalBody .firstSection img {
  width: 250px;
}
@media (max-width: 575px) {
  #app .modalDetails .modal .modalBody .firstSection img {
    width: 150px;
  }
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats {
  width: calc(100% - 170px);
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .baseExp {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .status {
  margin-bottom: 10px;
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .status label {
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
  font-size: 12px;
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .status .progressBar {
  width: 100%;
  height: 15px;
  border-radius: 50000000000000000px;
  overflow: hidden;
  background-color: #efefef;
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .status .progressBar .bar {
  background-color: #17a9e2;
  height: 100%;
  position: relative;
}
#app .modalDetails .modal .modalBody .firstSection .pokeStats .status .progressBar .bar span {
  position: absolute;
  transform: translateY(-50%);
  left: 5px;
  top: 55%;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
#app .modalDetails .modal .modalBody .secondSection {
  width: 100%;
}
#app .modalDetails .modal .modalBody .secondSection .abilities {
  margin-bottom: 20px;
}
#app .modalDetails .modal .modalBody .secondSection .abilities label {
  font-size: 15px;
  font-weight: bold;
}
#app .modalDetails .modal .modalBody .secondSection .abilities .abilitiesList {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
#app .modalDetails .modal .modalBody .secondSection .abilities .abilitiesList span {
  padding: 3px 10px;
  background-color: #555;
  color: #fff;
  margin-right: 5px;
  border-radius: 50000000000000000px;
  margin-bottom: 5px;
}
#app .modalDetails .modal .modalBody .secondSection .moves {
  /* width */
  /* Track */
  /* Handle */
}
#app .modalDetails .modal .modalBody .secondSection .moves label {
  font-size: 15px;
  font-weight: bold;
}
#app .modalDetails .modal .modalBody .secondSection .moves ::-webkit-scrollbar {
  width: 5px;
}
#app .modalDetails .modal .modalBody .secondSection .moves ::-webkit-scrollbar-track {
  border-radius: 50000000000000000px;
}
#app .modalDetails .modal .modalBody .secondSection .moves ::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 50000000000000000px;
}
#app .modalDetails .modal .modalBody .secondSection .moves .movesList {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: scroll;
}
#app .modalDetails .modal .modalBody .secondSection .moves .movesList span {
  padding: 3px 10px;
  border: 1px solid #555;
  color: #555;
  margin-right: 5px;
  border-radius: 50000000000000000px;
  margin-bottom: 5px;
  font-size: 12px;
}
