<mat-toolbar color="primary" fxFlex fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center"
    fxLayoutAlign.gt-md="space-between center">
    <div fxFlex>
        <span>Pokemon Pokedex</span>
    </div>    
    <div fxFlex fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutAlign.gt-md="flex-end" fxLayoutGap="10px">
        <small>by Luis Fernando M. Petreca</small>
        <a href="https://github.com/nar4ku" target="_blanck" matTooltip="To know more about me">
            <img src="assets/images/github.png" width="25px" height="25px" />
        </a>
    </div>
</mat-toolbar>