header{
    background-color: red;
    align-self: stretch;
}

.pokemons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer{
  display: flex;
  justify-content: space-between;
  button{
    padding: 10px;
    margin: 10px;
    background: #003A70;
    border: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #000;
    outline: 0;
    cursor: pointer;
  }
  button:hover{
    margin-top: 1px;
  }
}

