@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image {
  max-width: 600px;
  max-height: 200px;
}
