@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
}

.App{
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.App > * {
        padding: 10px;
        flex: 1 100%;
}

.main{
    margin: 0 auto;
    flex-direction: row;
    display: flex;
}




@media (min-width: 768px){
    .main{
        max-width: 750px;
    }
    
}

@media (min-width: 992px){
    .main{
        max-width: 970px;
    }
}

@media (min-width: 1200px){
    .main{
        max-width: 1170px;
    }
}