@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
}

.App{
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.App > * {
        padding: 10px;
        flex: 1 100%;
}

/*
@media (min-width: 768px){
    .App{
        width: 750px;
    }
}

@media (min-width: 992px){
    .App{
        width: 970px;
    }
}

@media (min-width: 1200px){
    .App{
        width: 1170px;
    }
}*/