<app-filter (interval)="getPokemonFilter($event)"></app-filter>
<main class="pokemons">
    <section class="pokemon" *ngFor="let pokemon of pokemons | paginate: config">
        <div class="pokemon-sprite" routerLink="/pokedex/{{pokemon.id}}">
            <img [defaultImage]="'https://www.cnoa.org/app/assets/images/cnoa_preloader.gif'" [lazyLoad]="pokemon.sprites.front_default" [offset]="'100'">
        </div>
        <div class="grid-general-info">
            <div class="grid-number-name">
                <span class="pokemon-number-name" routerLink="/pokedex/{{pokemon.id}}">#{{pokemon.id}} - {{pokemon.name | titlecase}}</span>
            </div>
            <div class="general-info pokemon-type">
                <span class="type-text">Type:</span>
                <span [class]=type.type.name *ngFor="let type of pokemon.types">
                    {{type.type.name | titlecase}}
                </span>
            </div>
        </div>
            <!-- <div class="general-info base-experience">Base Experience: {{pokemon.base_experience}}</div>
            <div class="general-info pokemon-height">Height: {{pokemon.height}}</div>
            <div class="general-info pokemon-weight">Weight: {{pokemon.weight}}</div>
            <div class="general-info pokemon-ability">
                <div>Abilities:</div>
                <div class="abilities">
                    <div *ngFor="let ability of pokemon.abilities">
                        {{ability.ability.name | titlecase}}
                        {{ability.ability.is_hidden}}
                        <span *ngIf="ability.is_hidden">(hidden)</span>
                    </div>
                </div>
            </div> 
        </div>-->
        <!-- <div class="pokemon-stats">
            <table>
                <tbody>
                    <tr *ngFor="let stat of pokemon.stats">
                        <th>{{ stat.stat.name | titlecase}}</th>
                        <td>{{stat.base_stat}}</td>
                        <td>
                            <div class="stat-bar" [style.width.px]="stat.base_stat/2"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </section>
</main>
<pagination-controls class="my-pagination" (pageChange)="pageChange($event)"></pagination-controls>